acwater>=0.3.0
arosics>=1.0.0
cerberus
gdal
geoarray>=0.15.8
jsmin
lxml
matplotlib
mvgavg
natsort
numpy
numpy-indexed
packaging
pandas
pyproj>=3.4.0
py_tools_ds>=0.14.23
scikit-image
scipy
sensormapgeo>=0.4.0
sicor>=0.16.0
tqdm
utm
